.output {
    width: 90%;
    word-break: break-word;
    font-family: Segoe UI, serif;
    font-size: 28px;
    padding-top:50px;
    position: absolute;
    white-space: pre-wrap;
}

@media (max-width: 768px) {
    .output {
        padding-top:0;
        padding-bottom: 10px;
    }
}

.errors {
    color: red;
}
