.btn-social {
    width: 100%;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 0 20px;
    font-size: 14px;
    border-radius: 4px;
    height: 45px;
    line-height: 45px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all .3s cubic-bezier(.645,.045,.355,1);
    transition: all .3s cubic-bezier(.645,.045,.355,1);
    position: relative;
    color: var(--text);
    background-color: transparent;
    border: 1px solid #e8e8e8;
    outline: none;
}

.btn-block {
    display: block;
    width: 100%;
}

.login-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: var(--text);
}

.social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.social-image {
    float: left;
    height: 24px;
    margin-left: 3px;
    margin-top: 10px;
}

.signup-link {
    transition: all .5s ease;
    color: var(--text);
    font-size: 14px;
    margin: auto;
    text-align: center;
}

a {
    transition: all .5s ease;
    color: var(--button);
}

.or-separator {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
    position: relative;
    display: block;
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 1em;
}

.or-text {
    transition: all .5s ease;
    position: center;
    top: 0;
    background: var(--background);
    padding: 10px;
    color: var(--text);
}

.login-button {
    margin-bottom: 10px;
    width: 100%;
}

@media (max-width: 768px) {
    .social-text {
        display: none;
    }
    .social-image {
        float: none;
        height: 64px;
        padding-bottom: 20px;
        margin-top: 0;
    }
    .btn-social {
        border: 0 solid #e8e8e8;
    }
}