.navbar {
    min-height: 4rem;
    background: #ececec;
}

.navbar-brand {
    display: inline-block;
    width: 85%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}