.navbar {
    height: 5rem;
    background: var(--navbar-color);
    transition: all .5s ease;
}

.switches {
    width: 100%;
    font-size: 1.2em;
    color: var(--text);
    display: inline-flex;
    padding-left: 24px;
    padding-right: 24px;
    margin-bottom: 5px;
}

.center {
    text-align: center;
}

.navbar-light .navbar-text a {
    color: var(--text);
}

.item {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.switches-text {
    margin-right: 24px;
    line-height: 1.8em;
    max-height: 1.8em;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    transition: all .5s ease;
    width: 100px;
}

.hint {
    transition: all .5s ease;
    color: var(--text) !important;
}

.navbar-brand {
    color: var(--text) !important;
    display: inline-block;
    width: 85%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
    transition: all .5s ease;
}

.linkImg {
    margin-left: 15px;
    margin-top: 2px;
    width: 50px;
    height: 50px;
    fill: var(--button);
}