.editor_div {
    height: calc(100vh - 7rem);
    align-content: space-between;
    max-height: 1000px;
}

.wrapper {
    min-height: 150px;
    height: calc(100% - 80px);
    box-shadow: 0 1px 11px var(--shadow-color);
}

.number_of_tries {
    margin-left: 10px;
    margin-right: 10px;
    color: var(--button);
}

.submit_button {
    background-color: var(--button);
    border: var(--background);
    width: 100px;
}

.button_bar {
    margin-top: 30px;
    justify-content: space-between;
}

.send_code_button {
    background-color: var(--button);
    border: var(--background);
    width: 150px;
}

.question_mark {
    margin-left: 15px;
    width: 15px;
    height: 15px;
}

@media (max-width: 768px) {
    .question_mark {
        display: none;
    }
    .editor_div {
        min-height: 400px;
        height: calc(61vh);
        margin-bottom: 30px;
    }
}