.editor_div {
    height: calc(100vh - 5rem);
    align-content: space-between;
}

.wrapper {
    min-height: 150px;
    height: calc(100% - 80px);
}

.ace_editor {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: #ececec 2px solid;
    border-top: none;
}

.number_of_tries {
    margin-left: 10px;
    margin-right: 10px;
}

.submit_button {
    width: 100px;
}

.button_bar {
    margin-top: 30px;
    justify-content: space-between;
}

.send_code_button {
    width: 150px;
}

.question_mark {
    margin-left: 15px;
}

@media (max-width: 768px) {
    .editor_div {
        min-height: 400px;
        height: calc(55vh);
    }
}