.editor_div {
    height: 100%;
}

.ace_editor {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: #ececec 2px solid;
    border-top: none;
}

.submit_button {
    margin-top: 30px;
    width: 100px;
}