:root {
  --button: royalblue;
  --text: #000;
  --background: #fff;
  --navbar-color: #ececec;
  --shadow-color: rgba(0, 0, 0, 0.27);
}

body {
  background-color: var(--background);
  transition: all .5s ease;
}

.btn-secondary {
  background-color: var(--button);
  border: var(--navbar-color);
}

.form {
  max-width: 400px;
  padding: 35px;
  margin: 50px auto auto;
  text-align: center;
  box-shadow: 0 1px 11px var(--shadow-color);
}

.button {
  margin-bottom: 10px;
  width: 100%;
}

.switch {
  float: right;
  position: relative;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  text-align: right;
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--button);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--button);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 30px;
}

.slider.round:before {
  border-radius: 50%;
}

.loader {
  color: var(--text);
}

@media (max-width: 768px) {
  .switch {
    float: none;
    position: center;
    width: 60px;
    height: 34px;
  }
}